<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DNSServerZone00" value="91.243.69.120;elevpost.no"/>
    <add key="DNSServerZone01" value="91.243.69.120;finnoy.kommune.no"/>
    <add key="DNSServerZone02" value="91.243.69.120;forsand.kommune.no"/>
    <add key="DNSServerZone03" value="91.243.69.120;rennesoy.kommune.no"/>
    <add key="DNSServerZone04" value="91.243.69.120;stavanger.kommune.no"/>
    <add key="DNSServerZone05" value="10.1.6.198;stavanger.kommune.no"/>
    <add key="DNSServerZone06" value="10.1.6.24;adfs.stavanger.kommune.no" />
    <add key="Ports" value="443,444,4443,4444,8443" />
    <add key="SNMPServer" value="10.1.1.68" />
    <add key="SQLConnectionString" value="Data Source=sql-svgkomm;Initial Catalog=SVGKOMM;Persist Security Info=True;User ID=Win7Migrate;Password=tiger11" />
    <add key="MaxErrorDaysThreshold" value="3" /> 
    <add key="MaxDaysThresholdWarning" value="40" />
    <add key="MaxDaysThresholdCritical" value="21" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
