<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- One line per DNSServer;Zone to be scanned. Add/remove as necessary. Scanner needs Zone transfer permissions on the DNS server zones. -->
    <add key="DNSServerZone01" value="91.243.69.120;finnoy.kommune.no"/>
    <add key="DNSServerZone02" value="91.243.69.120;forsand.kommune.no"/>
    <add key="DNSServerZone03" value="91.243.69.120;rennesoy.kommune.no"/>
    <add key="DNSServerZone04" value="91.243.69.120;stavanger.kommune.no"/>
    <add key="DNSServerZone05" value="192.168.1.198;stavanger.kommune.no"/>
    <add key="DNSServerZone06" value="192.168.1.198;adfs.stavanger.kommune.no" />
    <add key="Ports" value="443,444,4443,4444,8443" />
    <add key="SNMPServer" value="10.1.1.4" />
    <!-- Replace DATABASEHOSTNAME, DATABASENAME, USERNAME, PASSWORD with your values -->
    <add key="SQLConnectionString" value="Data Source=DATABASEHOSTNAME;Initial Catalog=DATABASENAME;Persist Security Info=True;User ID=USERNAME;Password=PASSWORD" />
    <!-- If the scanner failes to complete a scan within this period, send a Critical trap notifying we have a problem -->
    <add key="MaxErrorDaysThreshold" value="3" />
    <!-- Any certificates within these expire thresholds will trigger sending a SNMP trap -->
    <add key="MaxDaysThresholdWarning" value="40" />
    <add key="MaxDaysThresholdCritical" value="20" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
